@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-draw-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawPath 2s ease-out forwards;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}